body { margin:0; padding:0; height:1500px; }
div { border:1px solid #888; }

#Links { width:250px; height:1500px; position:absolute; top:140px; left:0px; background-color:white; }
#Login { width:250px; height:1500px; position:absolute; top:140px; left:1805px; background-color:white; }
#Storyetc { width:1555px; height:1500px; position:absolute; top:140px; left:250px; background-color:blue; }
#Banner { width:2055px; height:140px; position:absolute; top:0px; left:0px; background-color:#dfd; }
